.global {
  color: var(--text-light);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--spacing-xl) * 2) 0 0 0;
  position: relative;
}
.global::before {
  content: "";
  background-color: var(--primary-accent);
  width: 100%;
  height: 130%;
  top: -70px;
  position: absolute;
  z-index: 1;
  transform: skewY(-10deg);
  z-index: -1;
}

.global h2 {
  width: 80%;
}
.global a {
  color: var(--blue-1);
}
.global a:hover {
  color: var(--text-light);
}

.global .global-map > img {
  position: absolute;
  top: 5%;
  width: 844px;
  opacity: 25%;
}

.global .statistics {
  display: flex;
  margin: calc(var(--spacing-xl) * 2) 0;
}
.statistics h3 {
  border-left: 3px solid var(--blue-1);
  padding: 0 0 0 var(--spacing-sm);
  line-height: 28px;
}
.statistics p {
  width: 85%;
}

/*TABLET SIZE*/
@media only screen and (max-width: 768px) {
  .global .statistics {
    flex-wrap: wrap;
    margin: var(--spacing-xl) 0;
  }
  .global .statistics > .card {
    width: 45%;
  }
  .statistics p {
    width: 100%;
  }
}

/*MOBILE SIZE*/
@media only screen and (max-width: 550px) {
  .global .statistics > .card {
    width: 100%;
  }
  .global .global-map > img {
    opacity: 10%;
  }
}
