.hero {
  margin: calc(var(--spacing-xl) * 2) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.hero::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(250, 44, 211, 1) 0%,
    rgba(222, 155, 38, 1) 55%,
    rgba(88, 10, 189, 1) 100%
  );
  width: 120%;
  height: 920px;
  transform: rotate(-10deg);
  position: absolute;
  top: -600px;
  left: -100px;
  z-index: -1;
}
.hero p {
  width: 80%;
}
.hero-btns {
  display: flex;
  gap: var(--spacing-md);
  margin: var(--spacing-md) 0;
}
.hero-btns > button:nth-of-type(2) {
  color: var(--purple-2);
}

.hero .hero-phone {
  height: 564px;
}

.hero .hero-phone > img {
  height: 628px;
  align-self: flex-end;
  transform: translate(45px, -32px);
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: var(--spacing-lg);
  padding: 0 0 var(--spacing-xl) 0;
}

.partners > img {
  width: 70%;
  place-self: center;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1113px) {
  .hero > .two-column > .col-left {
    width: 60%;
  }
  .hero > .two-column > .col-right {
    width: 40%;
  }
}

/*TABLET SIZE*/
@media only screen and (max-width: 768px) {
  .hero {
    margin: var(--spacing-xl) 0;
  }
  .hero::before {
    top: -700px;
  }

  .hero .hero-phone {
    height: 400px;
  }
  .hero .hero-phone > img {
    height: 110%;
    transform: translate(30px, -30px);
  }
  .hero p {
    width: 100%;
  }
  .hero-btns {
    gap: var(--spacing-sm);
  }
  .hero-btns > button:nth-of-type(2) {
    padding: var(--spacing-sm);
  }
  .partners {
    margin: var(--spacing-lg) 0 0 0;
  }
}

/*MOBILE SIZE*/
@media only screen and (max-width: 550px) {
  .hero {
    margin: var(--spacing-lg) 0;
  }
  .hero::before {
    height: 820px;
    top: -600px;
  }
  .hero > .two-column > .col-left {
    width: 100%;
  }
  .hero > .section-container .hero-phone {
    display: none;
  }
  .partners {
    grid-template-columns: 1fr 1fr;
  }
}
